<div class="row">
  <div class="col-md-4">
    <%=image_tag post.image ,height:"250px", width:"250px"%>
  </div>
  <div class="col-md-8">
    <div class="col-md-8 basic-info">
      <ul class="posts">
        <li><span><%= @posts.count %></span> posts</li>
      </ul>
    </div>
  </div>
  </div>
