<div class="profile row">
  <div class="col-md-4 avatar">
    <!-- LEFT: AVATAR HERE -->
  </div>
  <div class="col-md-8 basic-info">
    <!-- RIGHT: USER INFORMATION HERE -->
  </div>
</div>
<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://instuigram-avatar.jpg">
      </div>
    </div>
    <div class="col-md-8 basic-info">
  <div class="user-wrapper">
    <h2 class="username"><%= current_user.username %></h2>
  </div>
  <h2 class="name"><%= current_user.name %></h2>
  <%=link_to current_user.website, current_user.website, class:  'website' %>
</div>
