<div class="row">
  <%= @posts.each do |post|%>
    <div class="col-md-4">
      <img src="assets/profile.png">
      <img src="cinqueterre.jpg" class="rounded" alt="Cinque Terre">
      <div><%= post.description %></div>
    </div>
  <% end %>
</div>
